.Card {
  font-size: 24px;
  line-height: 36px;
  width: 80px;
  height: 104px;
  border: 0.5px solid #cdcdcd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    color: #fff;

    &:hover {
      cursor: pointer;
      box-shadow: 5px 5px 10px #cdcdcd;
    }
  }

  &.open {
    color: #000;
    border: 0.5px solid #ed5517;
    transition: border 0.5s 0.5s;
  }

  &.isMatched {
    color: #000;
    border: 1px solid #0a0a0c;
    transition: border 0.5s 0.5s;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
